body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, .bar {
    background-image: linear-gradient(to bottom, #f9f9fb,rgb(84, 123, 154));
}

:root {
    --primeira-cor: #004170;
    --segunda-cor: #000000;
    --terceira-cor: #f9f9fb;
    --quarta-cor: #cdcdcd;
    --quinta-cor: #4d4b4b;
    --sexta-cor: #E8E8E8;
    --setima-cor: #3e56f6;
    --oitava-cor: rgb(84, 123, 154);
}

ul { list-style: none; padding-left: 5px;}
a { text-decoration: none;}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container-pesquisa {
    margin-left: 8rem;
}

.pesquisar {
    padding: 0.50rem;
}

.botao-pesquisar {
    padding: 0.50rem;
}

#logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding: 5px;
}

.container-imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-wikipedia {
    width: 119px;
    height: 18px;
}

.sub-logo-wikipedia {
    width: 120px;
    padding-top: 5px;
    height: 13px;
}

.bar {
    display: flex;
    flex-flow: column wrap;
    gap: 1px;
    align-items: center;
    background-color: var(--terceira-cor);
    padding: 1rem;
    border-top: solid 1px var(--quarta-cor);
    border-bottom: solid 1px var(--quarta-cor);
}

.texto-sonora {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primeira-cor);
    font-family: sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    display: grid;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(2,20rem) minmax(0,2.5fr) minmax(2,25rem);
}

.sidebar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    border-right: solid 1px var(--quarta-cor);
    overflow: scroll;
    height: auto;
    margin: 0;
}

.sidebar-titulo {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 800;
    font-style: italic;
    color: var(--primeira-cor);
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: transform 300ms ease-in-out;
}

.sidebar-titulo:hover {
    cursor: pointer;
    color: var(--segunda-cor);
    text-shadow: 1px 1px 1px var(--setima-cor);
    transform: scale(1.05);
}

.linha {
    width: 100%;
    height: 0.50px;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--segunda-cor);
}

.sidebar-lista {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-flow: column wrap;
    margin: 0;
    margin-bottom: 1rem;
}

.sidebar-item {
    font-size: 1.20rem;
    font-weight: 600;
    color: var(--segunda-cor);
}

.sidebar-item:hover {
    cursor: pointer;
    color: var(--primeira-cor);
}

.conteudo-principal {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulos-impotantes {
    color: var(--primeira-cor);
    font-size: 2.20rem;
    font-weight: 700;
    font-family: sans-serif;
    transition: transform 300ms ease-in-out;
}

.titulos-impotantes:hover {
    transform: scale(1.05);
}

.paragrafo-conteudo {
    font-size: 1.20rem;
    font-weight: 500;
}

.destaque {
    color: var(--primeira-cor);
}

.destaque:hover {
    cursor: pointer;
    color: var(--segunda-cor);
}

.anchors {
    display: flex;
    flex-direction: column;
    padding-top: 0.25rem;
    width: 17.75rem;
    height: 45rem;
    border-left: solid 1px var(--quarta-cor);
    padding: 12px;
    border: solid 1px var(--quinta-cor);
    gap: 10px;
}

.titulo-lateral-direito {
    display: flex;
    font-size: 1.25rem;
    margin: 0;
    color: var(--primeira-cor);
    align-items: center;
    justify-content: center;
    background: var(--sexta-cor);
    padding: 10% 0%;
    border-radius: 3%;
    transition: transform 300ms ease-in-out;
}

.titulo-lateral-direito:hover {
    transform: scale(1.05);
}

.imagen-lateral-direito {
    width: 100%;
}

.anchors-lista {
    display: grid;
    justify-content: baseline;
    align-items: baseline;
    gap: 5px;
}

.anchors-item {
    font-size: 1.20rem;
    font-weight: 600;
    color: var(--segunda-cor);
}

.anchors-item:hover {
    cursor: pointer;
    color: var(--primeira-cor);
}

.rodape {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--oitava-cor);
}

.titulo-rodape {
    color: var(--primeira-cor);
    text-shadow: 1px 1px 1px var(--sexta-cor);
}

.container-redes {
    display: flex;
    gap: 1.50rem;
}
